@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

/**********************************
Header section css
**********************************/
header{
    width: 100%;
    background: #daac00;
}
header .nav-item{
    text-transform: capitalize;
}
header .col-md-12{
    padding-left: 0;
    padding-right: 0;
}
header nav{
    padding-top: 22px !important;
    padding-bottom: 22px !important
}
header .nav-link{
    font-size: 22px;
    font-weight: 600;
    color: white !important;
}
header input{
    width: 200px !important;
    border-radius: 0 !important;
    border: 0 !important;
    font-size: 22px !important;
    background: #fcc302 !important;
}
header .navbar-brand{
    margin-right: 0 !important;
}
header .input-group{
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.3);
}
header input:focus{
    box-shadow: none !important;
}
header input::placeholder{
    color: #fff !important;
}
header .input-group-text{
    border-radius: 0;
    border: none;
    background: #00bec9 !important;
    width: 70px !important;
    justify-content: center;
    font-size: 22px;
    color: #fff !important;
    transition: 0.5s;
}
.mr-auto, .mx-auto{
    margin-right: 50px !important;
}
header nav .nav-item{
    margin-left: 8px;
    margin-right: 8px;
}
header .input-group-text:hover{
    background:  #0672ff !important;
}



/************************
   banner section css
*************************/
.banner{
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.banner-left{
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
}
.banner-left h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    margin-bottom: 0 !important;
}
.banner-left p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-align: justify;
    margin: 40px 0;
}
.btn{
    padding: 12px 22px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
}
.banner-left-btn{
    background: #00bec9;
    margin-right: 20px;
}
.banner-right-btn{
    border: 2px solid #fff;
}
.banner-right-btn:hover{
    border: 2px solid #000;
}
.banner-right{
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
}



/******************************
 video section css here 
*******************************/
.video-section{
    margin: 40px 0;
}
.video-section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 42px;
    color: #000;
    line-height: 1.3;
    margin-bottom: 35px;
}
.video-section p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000;
    margin: 40px 0;
}
.video-srv-btn{
    background-color:#FFC400 !important;
    color: #fff !important;
}
.video-srv-btn:hover{
      background: rgb(56, 55, 55) !important;
      color: #daac00 !important;
}
.video-section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.video-body{
    position: relative;
}
.video-body .video-img{
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.video-body .img-fluid{
    position: absolute;
    width: 100% !important;
}
.video-overlay{
    background: rgba(252, 195, 2,0.5);
    position: relative;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-overlay a{
    width: 65px;
    height: 65px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.video-body i{
    color: #daac00;
    font-size: 30px;
}
.video-shadow{
    width: 200px;
    height: 200px;
    background: #fcc302;
    position: absolute;
    left: -30px;
    top: 291px;
    z-index: 1;
}


/************************
   title section css
*************************/
.title-section{
    width: 100%;
    background-image: url(../img/title.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title-head{
    text-align: center;
    padding-top: 70px;
}
.title-head h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}
.title-head p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    margin: none;
    margin: 0px 260px;
}
.down{
    width: 100%;
    margin-top: 80px;
    padding-bottom: 60px;
}
.down .col-md-12{
    display: inline-flex;
}
.down .col-md-12 .col-md-4{
    text-align: center;
}
.down .col-md-12 .col-md-4 h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    margin-top: 30px;
}
.down .col-md-12 .col-md-4 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 0 33px;
    text-align: justify;
}


/************************
   video-02 section css
*************************/
.video-section1 .video-shadow{
    left: 316px !important;
}
.videon-section1- .video-body i{
    transform-origin: center;
    transform: rotate(180deg);
}


/************************
   title-02 section css
*************************/


.title-btn{
    background: #00bec9;
    color: #fff;
    margin-top: 10px;
    padding: 12px 30px;
    border-radius: 26px;
}


/************************
   vetcare section css
*************************/
.vetcare-section{
    width: 100%;
}
.title-head{
    text-align: center;
    padding-top: 90px;
}
.vetcare-section .title-head h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #000;
}
.vetcare-section .title-head p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000;
    margin: none;
    margin: 0px 260px;
}
.vetcare-section .down{
    width: 100%;
    margin-top: 80px;
}
.vetcare-section .down .col-md-12{
    display: inline-flex;
    padding-bottom: 24px;
}
.vetcare-section .down .col-md-12 .col-md-4{
    text-align: center;
}
.vetcare-section .down .col-md-12 .col-md-4 h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin-top: 30px;
}
.vetcare-section .down .col-md-12 .col-md-4 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding: 0 33px;
    text-align: center;
}
.vetnav{
    width: 100%;
}
.fa{
    background: #daac00;
    color: #fff;
    padding: 5px;
    border-radius: 100%;
    transition: 0.4s ease;
}
.fa:hover{
    background: #fff;
    color: #daac00;
    transition: 0.4s ease;
}
.fa-facebook{
    width: 25px;
}
.nav-link{
    padding: 0 5px;
}
.fa-instagram{
    margin-left: 96px;
}


/*****************************
   counter section css
******************************/
.counter-section{
    background: url(../img/testimonial.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding:150px 0px;
}
.counter-section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(252, 194, 3,0.8);
}
.counter-section .counter-icon{
    margin-bottom: 50px;
}
.counter-section h3{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
}
  .counter-section p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
}



/*****************************
   recent-post section css
******************************/
.recent-post .recent .col-md-12 .col-md-4 .recent-text-box{
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 2px 2px 30px 0px rgba(0,0,0,0.1);
}
.recent-text-box{
    text-align: left;
    padding: 20px 30px;
}
.recent-post .recent-text-box p{
    margin: 0 !important;
    text-align: left !important;
}
.recent-post .recent-text-box .blue{
    color: #00bec9 !important;
    padding: 0 !important;
}
.recent-post .recent-text-box .text-pad{
    padding: 12px 0px !important;
}
.recent .recent-post .recent-text-box h3{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
    font-size: 26px;
    color: #313243;
}
.recent-post .recent-text-box p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px !important;
    color: #313243;
}
.recent-post .recent-text-box h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}


/*****************************
   footer section css
******************************/
.footer{
    width: 100%;
    background: #343434;
}
.footer .row .col-md-3{
    padding: 120px 0;
}
.footer .row .col-md-6{
    padding: 100px 0;
    text-align: right;
}
.footer h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #fff;
}
.footer ul{
    margin-bottom: 0;
}
.footer ul li{
    list-style: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 2px 0;
}
.footer .row .col-md-6 h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #fff;
}
.footer .row .col-md-6 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}
.footer .row .col-md-6 .input-box{
    position: relative;
}
.footer .row .col-md-6 input{
    padding: 16px 100px;
    margin-bottom: 24px;
    background: #daac00;
    border: none;
}
.footer .row .col-md-6 .input-box .telegram{
    width: 96px;
    height: 56px;
    background: #00bec9;
    position: absolute;
    right: 0;
    top: 0px;
}
.footer .row .col-md-6 .input-box .telegram i{
    color: #fff;
    background: #00bec9;
    line-height: 46px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.footer-icon{
    width: 100%;
}
.footer-icon ul{
    display: flex;
    justify-content: flex-end;
}
.footer-icon .fa{
    background: #fff;
    color: #000;
    padding: 5px;
    border-radius: 100%;
    transition: 0.4s ease;
}
.footer-icon .fa:hover{
    background: #daac00;
    color: #fff;
    transition: 0.4s ease;
}
.footer-icon .fa-facebook{
    width: 26px;
}
.footer-icon .nav-link{
    padding: 0 5px;
}

